<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>java</servlet-name>
        <servlet-class>InsertarUsuario.java</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarUsuario</servlet-name>
        <servlet-class>Api.InsertarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciarSesion</servlet-name>
        <servlet-class>Api.IniciarSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EjerciciosUsuario</servlet-name>
        <servlet-class>Api.EjerciciosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatosUsuario</servlet-name>
        <servlet-class>Api.DatosUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarUsuario</servlet-name>
        <servlet-class>Api.EliminarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioSol</servlet-name>
        <servlet-class>Api.UsuarioSol</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>Api.EditarUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SolicitarEjercicio</servlet-name>
        <servlet-class>Api.SolicitarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertarEjercicio</servlet-name>
        <servlet-class>Api.InsertarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EliminarEjercicio</servlet-name>
        <servlet-class>Api.EliminarEjercicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEjercicio</servlet-name>
        <servlet-class>Api.EditarEjercicio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>java</servlet-name>
        <url-pattern>/java</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarUsuario</servlet-name>
        <url-pattern>/InsertarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciarSesion</servlet-name>
        <url-pattern>/IniciarSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EjerciciosUsuario</servlet-name>
        <url-pattern>/EjerciciosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatosUsuario</servlet-name>
        <url-pattern>/DatosUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarUsuario</servlet-name>
        <url-pattern>/EliminarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioSol</servlet-name>
        <url-pattern>/UsuarioSol</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SolicitarEjercicio</servlet-name>
        <url-pattern>/SolicitarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertarEjercicio</servlet-name>
        <url-pattern>/InsertarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EliminarEjercicio</servlet-name>
        <url-pattern>/EliminarEjercicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEjercicio</servlet-name>
        <url-pattern>/EditarEjercicio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
