.mainContainerR{
    margin: auto;
    border-color: blue;
    border: 2px solid;
    width: 1392px;
    height: 769px;
}

.title{
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

.headerr {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    color: white;
    text-align: center;
    background-color: blue;
  }

  .headerTitle {
    text-align: center;
    font-size: 2rem;
    margin: auto;
  }

  .content {
    display: flexbox;
    flex-direction: vertical;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 3em;
    text-align: center;
  }

.formAddEjercicio{
  text-align: center;
}

.formInput{
    margin: 1rem;
    width: 3rem;
    margin-top: 1rem;
}

.buttonDiv{
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.button{
    height: 40px;
    color: white;
    background-color: black;
    border: transparent;
    border-radius: 0.2rem;
}

.link{
    color: black;
    margin: auto;
}